.weappRequire {
  margin-top: -15px;
  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-row {
      flex-direction: column;
    }
  }
  .footer {
    padding-top: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      margin-left: 10px;
    }
  }
}
