.help_btn {
  color: #808080;
//   border: #f4f4f4 1px solid;
  cursor: pointer;
  border-radius: 5px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
//   background-color: #fff;
  user-select: none;
  line-height: 1;
  margin-right: 0px !important;
  margin-left: 3px !important;
  display: flex;
  align-items: center;
  justify-content: center;
//   box-shadow: 0 2px 4px 0 rgba(54, 58, 80, 0.32);

  img {
    display: block;
    width: 15px;
    height: 15px;
  }
}

:global {
  .button_SkZGQ {
    height: 24px !important;
    margin: 0 3px !important;
    width: 45px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toolbar_wajAY {
    padding-right: 5px;
  }
}

.app_type_box {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: #f4f4f4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(54, 58, 80, 0.1);
  cursor: pointer;
  margin: 0 3px !important;
  img {
    width: 18px;
    height: 18px;
  }
  &.selected {
    background: #ffddc4;
  }
}
