.help_btn{
color: #808080;
    border: #dddddd 1px solid;
    cursor: pointer;
    border-radius: 5px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    background-color: #fff;
    user-select: none;
    line-height: 1;
    img {
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
}